/* src/components/skeleton-loader/heroSkeleton.css */
.skeleton-container {
    min-height: 100vh;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .skeleton-wrapper {
    width: 100%;
    max-width: 42rem;
  }
  
  .skeleton-avatar {
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background-color: #f3f3f3;
    margin: 0 auto 2rem;
  }
  
  .skeleton-title {
    height: 4rem;
    width: 24rem;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    margin: 0 auto 1.5rem;
  }
  
  .skeleton-subtitle {
    height: 2rem;
    width: 31.25rem;
    background-color: #f3f3f3;
    border-radius: 0.5rem;
    margin: 0 auto;
  }
  
  .shimmer {
    position: relative;
    overflow: hidden;
  }
  
  .shimmer::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #0000001c;
    animation: shimmer 2s ease-in-out 0.5s infinite
  }
  
  @keyframes shimmer {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }